body {
    padding:40px;
    font-family:segoe ui;
}
.page-header {
    margin-top:0px;
}

.lesson-list a {
    display:inline-block;
    text-decoration:none;
    cursor:default;
}

.lesson-list li:hover a,.lesson-list .active a {
    color:white;
}

.nav-tabs {
    margin-bottom:10px;
}

.nav-pills {
    cursor:pointer;
}
